/* styles.css */
body {
  background-color: #eff6ff;

  display: flex;
  flex-direction: column;
  align-items: center;
}

header,
main,
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  position: relative;
  overflow: hidden;

  padding: 20px;
}

/* Background block behind header image */
.background-block {
  position: absolute;
  top: -45%; /* Adjust to position behind the image */
  left: -100%;
  width: 1000px; /* Slightly larger than the image */
  height: 570px;
  background-color: #06b6d4; /* Customize as needed */
  z-index: -1; /* Place behind the image */
  transform: rotate(-25deg);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3); /* Lifting effect */
  transition: transform 0.3s ease;
}

.image-container {
  position: relative;
  text-align: start;

  /* ****************** */
  width: 280px;
  height: auto;
}

.image-container img {
  width: 100%;
  height: auto;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

.image-text {
  position: absolute;
  top: 88%;
  left: 36%;
  transform: translate(-50%, -50%);
  color: #eff6ff;
  font-size: 44px;
  font-weight: 400;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

.title.about {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 34px;
}

.text {
  color: gray;
}

.icons {
  display: flex;
  gap: 20px;
  padding: 10px;
}

main {
  margin: 20px;
  font-size: 24px;
}

.title.work {
  margin-bottom: 10px;
  font-size: 34px;
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.project {
  width: 280px;
  height: 380px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
}

.screenshot {
  flex-grow: 1;
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  color: #eff6ff;
}

.info {
  background-color: #eff6ff;
}

.links {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  padding-bottom: 0px;
}

.description {
  color: gray;
  margin: 10px;
}

.purple {
  background-color: purple;
}

.gold {
  background-color: goldenrod;
}

.green {
  background-color: green;
}

.pink {
  background-color: plum;
}

.blue {
  background-color: #06b6d4;
}

.darkGreen {
  background-color: darkolivegreen;
}

footer {
  background-color: #06b6d4;
  width: 100%;
}

footer img {
  width: 100%; /* Make image take full width of footer */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Prevents extra space below the image */
}

.footer-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: #eff6ff;
}

.title.contact {
  font-size: 34px;
  margin-bottom: 10px;
  align-self: center;
}

.callToAction {
  margin-bottom: 10px;
}

.address {
  margin-bottom: 10px;
}

.contactInfo {
  margin-bottom: 10px;
}

.icons.contact {
  align-self: center;
}

@media (min-width: 500px) {
  header {
    padding: 80px;
  }

  .icons.header {
    display: none;
  }

  /* Background block behind header image */
  .background-block {
    top: -70%; /* Adjust to position behind the image */
    left: -40%;
    width: 1500px;
    transform: rotate(-20deg);
  }

  .headerCard {
    background-color: #eff6ff;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3); /* Lifting effect */
    /* position: relative; */
  }

  .image-container {
    width: 240px;
    height: 230px;
    float: left; /* Float the image container to the left */
    margin-right: 20px; /* Add spacing between image and text */
    margin-bottom: 20px; /* Add space below the image */
  }

  .image-container img {
    width: 300px;
    height: auto;

    position: relative;
    top: -60px;
    left: -60px;
  }

  .image-text {
    position: absolute;
    top: -20%;
    left: 166%;
    transform: translate(-50%, -50%);
    color: #eff6ff;
    font-size: 44px;
    font-weight: 400;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);

    white-space: nowrap;
  }
}
